<h1>New Article</h1>

<%= render 'form' %>    <%# partials for the form that is in the file _form.html.erb %>

<%# Rails generally has a single post route per crudable resource so it knows a post request is coming to ALL articles %>


<%# this link is the link back to the all articles %>
<%= link_to 'Back', articles_path %>


